name: Build AMI with Packer

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  packer:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Setup Packer
      uses: hashicorp/setup-packer@v3

    - name: Packer Init
      run: |
        cd packer
        packer init .

    - name: Build AMI
      run: |
        cd packer
        packer build .
